@model IEnumerable<WypasionaKsiegarniaMVC.Models.Product>

@using Microsoft.AspNet.Identity;
<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) {

    <p>        
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th></th>
        @*<th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Language)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Year)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Featured)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Hidden)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="col-md-10">
                @if (item.Pictures.Count > 0)
                {
                <img src="@Html.DisplayFor(modelItem => item.Pictures.ElementAt(0).Address)" alt="HTML% Icon" style="width:110px;height:110px"/>
                }
            </div>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <th>
            @Html.ListBox("AuthorId", new SelectList(item.Authors, "Name", "NameSurname"), new { style = "width: 100%;" })
        </th>
        @*<td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        @*@<td>
            @Html.DisplayFor(modelItem => item.PageAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Featured)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Hidden)
        </td>*@
        <td>
            @using (Html.BeginForm("OrderNow", "ShoppingCart", FormMethod.Post))
            {
                @Html.TextBox("quantity", null, new { type = "number", style = "width:35px", min = "0", @Value = "1" })
                @Html.Hidden("id", item.ProductID)
                <button type="submit" class="btn btn-danger">Add</button>
            }
        </td><td>
            @Html.ActionLink("Details", "Details", new { id = item.ProductID },new {  @class = "btn btn-warning" })
            
            
            @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-danger" })  
            }

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductID },new { @class = "btn btn-primary" })
            }*@
            
          


        </td>
    </tr>
}

</table>
