@{
    ViewBag.Title = "Index";
}
@using WypasionaKsiegarniaMVC.Models;
<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
    <h2>Index</h2>
    <table cellpadding="8" cellspacing="10">

        <tr>

            <th>ISBN</th>
            <th>Title </th>
            <th>Product</th>
            <th>Quantity</th>

        </tr>
        @foreach (Product p in ViewBag.listProducts)
        {
            <tr>
                <th> @p.ISBN </th>
                <th> @p.Title </th>
                <th> @p.Price </th>
                
                <th>Qty:<div class="DetailAddToCart"><input type="number" value="1" class="Quantity" id="Quantity" width="1"/> <a id="AddToCartLink" href="@Url.Action("OrderNow", "ShoppingCart", new {id = p.ProductID})">AddToCart</a></div></th>
                <td align="center">@Html.ActionLink("Order Now", "OrderNow", "ShoppingCart", new { id = p.ProductID }, null)</td>    
            </tr>
        }

    </table>
    <script>
        $('#AddToCartLink').click(function () {
            var link = $(this).attr('href') + '?quantity=' + $(this).siblings('.Quantity').val();

            $.ajax({
                url: link,
                type: "POST",
                success: AddToCartSuccess,
                error: AddToCartFailure
            });

            return false;

        });
    </script>
</body>

</html>