@{
    ViewBag.Title = "Index";
}
@using WypasionaKsiegarniaMVC.Models;
<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
    <h2>Featured</h2>
    <table cellpadding="8" cellspacing="10" class="table">

        <tr>

            <th>ISBN</th>
            <th>Title </th>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>

        </tr>
        @foreach (Product p in ViewBag.listProducts)
        {
            <tr>
                <th> @p.ISBN </th>
                <th> @p.Title </th>
                <th> @p.Price zł</th>
                @using (Html.BeginForm("Find", "Products", FormMethod.Post))
                {
                <th>
                   
                        @Html.TextBox("quantity", null, new { type = "number", style = "width:35px", min = "0", @Value="1" })
                        @Html.Hidden("id", p.ProductID)
                    
               </th>
               <th>
                <button type="submit" class="btn btn-danger">Add</button>
                    </th>}
                
            </tr>
        }

    </table>
    <script>
    </script>
</body>

</html>